// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include <dt-bindings/spmi/spmi.h>
#include "qcs8300.dtsi"
#include "qcs8300-thermal.dtsi"
#include "qcs8300-pmics.dtsi"

/delete-node/ &usb_1_dwc3;
/ {
	model = "Qualcomm Technologies, Inc. Monaco Monza";
	compatible = "qcom,monaco-monza", "qcom,qcs8300";

	qcom,msm-id = <675 0x10000>;
	qcom,board-id = <0x00010020 4>, <0x00010019 4>;

	aliases {
		ethernet0 = &ethernet0;
		i2c8 = &i2c8;
		serial0 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	vhat_3p3: regulator-vhat-3p3 {
		compatible = "regulator-fixed";
		regulator-name = "VHAT_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vreg_s2s: vreg-s2s {
		compatible = "regulator-fixed";
		regulator-name = "vreg_s2s";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	vdc_5v: vdc-5v {
		compatible = "regulator-fixed";
		regulator-name = "vdc_5v";

		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&tlmm 49 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-always-on;
	};

	adv7535_vreg_1v8: adv7535_1v8_regulstor {
		compatible = "regulator-fixed";
		regulator-name = "ADV7535_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	adv7535_vreg_3v3: adv7535_3v3_regulstor {
		compatible = "regulator-fixed";
		regulator-name = "ADV7535_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	edp-connector {
		compatible = "dp-connector";
		label = "EDP";
		type = "mini";

		port {
			edp_connector_in: endpoint {
				remote-endpoint = <&mdss_dp_out>;
			};
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_sleep_button_default>;

		sleep-button {
			label = "Sleep Button";
			gpios = <&tlmm 69 GPIO_ACTIVE_HIGH>;
			linux,code = <KEY_SLEEP>;
			wakeup-source;
		};
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		label = "hdmi";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&adv7535_out>;
			};
		};
	};

	nvme_vreg_en: nvme_vreg_en {
		compatible = "regulator-fixed";
		regulator-name = "nvme_vreg_en";
		gpio = <&tlmm 51 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-enable-ramp-delay = <10000>;
	};

	cci1-i2c1-gpio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "i2c-gpio";
		sda-gpios = <&tlmm 31 (GPIO_ACTIVE_HIGH| GPIO_OPEN_DRAIN)>;
		scl-gpios = <&tlmm 32 (GPIO_ACTIVE_HIGH| GPIO_OPEN_DRAIN)>;
		status = "okay";
		pinctrl-0 = <&cci1_1_default_bb_sda &cci1_1_default_bb_scl>;
		pinctrl-names = "default";

		fan_controller: fan-controller@2f {
			compatible = "microchip,emc2305";
			status = "okay";
			reg = <0x2f>;
			#address-cells = <1>;
			#size-cells = <0>;
			#pwm-cells = <3>;

			fan: fan@0 {
				reg = <0x0>;
				pwms = <&fan_controller 26000 PWM_POLARITY_INVERTED 1>;
				#cooling-cells = <2>;
			};
		};

		leds_controller: leds-controller@22 {
			compatible = "nxp,pca9635";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x22>;

			red@0 {
				label = "red";
				reg = <0>;
				linux,default-trigger = "none";
			};

			green@1 {
				label = "green";
				reg = <1>;
				linux,default-trigger = "none";
			};

			blue@2 {
				label = "blue";
				reg = <2>;
				linux,default-trigger = "none";
			};

			red@3 {
				label = "red";
				reg = <3>;
				linux,default-trigger = "none";
			};

			green@4 {
				label = "green";
				reg = <4>;
				linux,default-trigger = "none";
			};

			blue@5 {
				label = "blue";
				reg = <5>;
				linux,default-trigger = "none";
			};

			red@6 {
				label = "red";
				reg = <6>;
				linux,default-trigger = "none";
			};

			green@7 {
				label = "green";
				reg = <7>;
				linux,default-trigger = "none";
			};

			blue@8 {
				label = "blue";
				reg = <8>;
				linux,default-trigger = "none";
			};

			red@9 {
				label = "red";
				reg = <9>;
				linux,default-trigger = "none";
			};

			green@a {
				label = "green";
				reg = <10>;
				linux,default-trigger = "none";
			};

			blue@b {
				label = "blue";
				reg = <11>;
				linux,default-trigger = "none";
			};
		};
	};
};

&apps_rsc {
	regulators-0 {
		compatible = "qcom,pmm8654au-rpmh-regulators";
		qcom,pmic-id = "a";

		vreg_l3a: ldo3 {
			regulator-name = "vreg_l3a";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l4a: ldo4 {
			regulator-name = "vreg_l4a";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l5a: ldo5 {
			regulator-name = "vreg_l5a";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l6a: ldo6 {
			regulator-name = "vreg_l6a";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l7a: ldo7 {
			regulator-name = "vreg_l7a";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <912000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l8a: ldo8 {
			regulator-name = "vreg_l8a";
			regulator-min-microvolt = <2504000>;
			regulator-max-microvolt = <2960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l9a: ldo9 {
			regulator-name = "vreg_l9a";
			regulator-min-microvolt = <2970000>;
			regulator-max-microvolt = <3072000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-1 {
		compatible = "qcom,pmm8654au-rpmh-regulators";
		qcom,pmic-id = "c";

		vreg_s5c: smps5 {
			regulator-name = "vreg_s5c";
			regulator-min-microvolt = <1104000>;
			regulator-max-microvolt = <1104000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l1c: ldo1 {
			regulator-name = "vreg_l1c";
			regulator-min-microvolt = <300000>;
			regulator-max-microvolt = <512000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l2c: ldo2 {
			regulator-name = "vreg_l2c";
			regulator-min-microvolt = <900000>;
			regulator-max-microvolt = <904000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l4c: ldo4 {
			regulator-name = "vreg_l4c";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l7c: ldo7 {
			regulator-name = "vreg_l7c";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l8c: ldo8 {
			regulator-name = "vreg_l8c";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};

		vreg_l9c: ldo9 {
			regulator-name = "vreg_l9c";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
			regulator-allow-set-load;
			regulator-allowed-modes = <RPMH_REGULATOR_MODE_LPM
						   RPMH_REGULATOR_MODE_HPM>;
		};
	};
};

&ethernet0 {
	phy-mode = "2500base-x";
	phy-handle = <&hsgmii_phy0>;

	pinctrl-0 = <&ethernet0_default>;
	pinctrl-names = "default";

	snps,mtl-rx-config = <&mtl_rx_setup>;
	snps,mtl-tx-config = <&mtl_tx_setup>;

	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		hsgmii_phy0: phy@1c {
			compatible = "ethernet-phy-id004d.d101";
			reg = <0x1c>;
			reset-gpios = <&tlmm 50 GPIO_ACTIVE_LOW>;
			reset-assert-us = <11000>;
			reset-deassert-us = <70000>;
		};
	};

	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <4>;
		snps,rx-sched-sp;

		queue0 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x0>;
			snps,route-up;
			snps,priority = <0x1>;
		};

		queue1 {
			snps,dcb-algorithm;
			snps,map-to-dma-channel = <0x1>;
			snps,route-ptp;
		};

		queue2 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x2>;
			snps,route-avcp;
		};

		queue3 {
			snps,avb-algorithm;
			snps,map-to-dma-channel = <0x3>;
			snps,priority = <0xc>;
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <4>;
		snps,tx-sched-sp;

		queue0 {
			snps,dcb-algorithm;
		};

		queue1 {
			snps,dcb-algorithm;
		};

		queue2 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};

		queue3 {
			snps,avb-algorithm;
			snps,send_slope = <0x1000>;
			snps,idle_slope = <0x1000>;
			snps,high_credit = <0x3e800>;
			snps,low_credit = <0xffc18000>;
		};
	};
};

&gpi_dma0 {
	status = "okay";
};

&gpi_dma1 {
	status = "okay";
};

&gpu {
	status = "okay";
};

&gpu_zap_shader {
	firmware-name = "qcom/qcs8300/a623_zap.mbn";
};

&i2c0 {
	pinctrl-0 = <&qup_i2c0_data_clk>;
	pinctrl-names = "default";
	status = "okay";

	sensehat: sensehat@46 {
		compatible = "raspberrypi,sensehat";
		reg = <0x46>;
		status = "okay";

		joystick {
			compatible = "raspberrypi,sensehat-joystick";
			status = "okay";

			pinctrl-names = "default";
			pinctrl-0 = <&sensehat_joystick_int_default>;

			interrupt-parent = <&tlmm>;
			interrupts = <105 IRQ_TYPE_EDGE_RISING>;
		};
	};

	lsm9ds1_imu: imu@6a {
		compatible = "st,lsm9ds1-imu";
		reg = <0x6a>;
		vdd-supply = <&vhat_3p3>;
		vddio-supply = <&vhat_3p3>;
		status = "okay";
	};

	lsm9ds1_mag: lsm9ds1_mag@1c {
		compatible = "st,lsm9ds1-magn";
		reg = <0x1c>;
		vdd-supply = <&vhat_3p3>;
		vddio-supply = <&vhat_3p3>;
		status = "okay";
	};

	lps25h_press: lps25h@5c {
		compatible = "st,lps25h-press";
		reg = <0x5c>;
		vdd-supply = <&vhat_3p3>;
		vddio-supply = <&vhat_3p3>;
		status = "okay";
	};

	hts221_humid: hts221@5f {
		compatible = "st,hts221";
		reg = <0x5f>;
		vdd-supply = <&vhat_3p3>;
		vddio-supply = <&vhat_3p3>;
		status = "okay";
	};
};

&i2c8 {
	pinctrl-0 = <&qup_i2c8_default>, <&usb0_intr_state>;
	pinctrl-names = "default";
	status = "okay";

	typec@8 {
		compatible = "cypress,cypd6129";
		reg = <0x08>;
		interrupt-parent = <&tlmm>;
		interrupts = < 3 IRQ_TYPE_LEVEL_LOW>;

		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";

		ccg_typec_con0: connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					ucsi_ccg_port: endpoint {
						remote-endpoint = <&usb_role_switch>;
					};
				};
			};
		};
	};
};

&i2c12 {
	status = "okay";

	adv7535: hdmi@3d {
		compatible = "adi,adv7535";
		reg = <0x3d>;

		interrupt-parent = <&tlmm>;
		interrupts = <93 IRQ_TYPE_EDGE_FALLING>;

		pinctrl-names = "default";
		pinctrl-0 = <&hdmi_conv_int_pins>;

		adi,dsi-lanes = <4>;
		avdd-supply = <&adv7535_vreg_1v8>;
		dvdd-supply = <&adv7535_vreg_1v8>;
		pvdd-supply = <&adv7535_vreg_1v8>;
		a2vdd-supply = <&adv7535_vreg_1v8>;
		v3p3-supply = <&adv7535_vreg_3v3>;
		v1p2-supply = <&adv7535_vreg_1v8>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				adv7535_in: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;

				adv7535_out: endpoint {
					remote-endpoint = <&hdmi_connector_in>;
				};
			};
		};
	};

	power-sensor@40 {
		compatible = "ti,ina232";
		reg = <0x40>;
		shunt-resistor = <2000>;
		status = "okay";
	};
};

&ice {
	status = "okay";
};

&ice_mmc {
	status = "okay";
};

&mdss {
	status = "okay";
};

&mdss_dp0 {
	status = "okay";
};

&mdss_dp_out {
	data-lanes = <0 1 2 3>;
	link-frequencies = /bits/ 64 <1620000000 2700000000 5400000000 8100000000>;

	remote-endpoint = <&edp_connector_in>;
};

&mdss_dsi0 {
	status = "okay";
	vdda-supply = <&vreg_l1c>;
};

&mdss_dsi0_out {
	data-lanes = <0 1 2 3>;
	remote-endpoint = <&adv7535_in>;
};

&mdss_dsi0_phy {
	status = "okay";
	vdds-supply = <&vreg_l4a>;
};

&mdss_edp_phy {
	status = "okay";
};

&pcie0 {
	perst-gpios = <&tlmm 2 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 0 GPIO_ACTIVE_HIGH>;

	iommu-map = <0x0 &pcie_smmu 0x0000 0x1>,
		    <0x100 &pcie_smmu 0x0001 0x1>,
		    <0x200 &pcie_smmu 0x0002 0x1>,
		    <0x208 &pcie_smmu 0x0003 0x1>,
		    <0x210 &pcie_smmu 0x0004 0x1>,
		    <0x218 &pcie_smmu 0x0005 0x1>,
		    <0x300 &pcie_smmu 0x0006 0x1>,
		    <0x400 &pcie_smmu 0x0007 0x1>;

	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_default_state>;

	status = "okay";
};

&pcie0_phy {
	vdda-phy-supply = <&vreg_l6a>;
	vdda-pll-supply = <&vreg_l5a>;

	status = "okay";
};

&pcie1 {
	vdda-supply = <&nvme_vreg_en>;
	perst-gpios = <&tlmm 23 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 21 GPIO_ACTIVE_HIGH>;

	pinctrl-names = "default";
	pinctrl-0 = <&pcie1_default_state>;

	status = "okay";
};

&pcie1_phy {
	vdda-phy-supply = <&vreg_l6a>;
	vdda-pll-supply = <&vreg_l4a>;

	status = "okay";
};

&pmm8650au_1_gpios {
	usb2_en_state: usb2-en-state {
	       pins = "gpio7";
	       function = "normal";
	       output-high;
	       power-source = <0>;
	};
};

&qup_i2c12_data_clk {
	drive-strength = <2>;
	bias-pull-up;
};

&qup_i2c0_data_clk {
	drive-strength = <2>;
	bias-pull-up;
};

&qupv3_id_0 {
	firmware-name = "qcom/qcs8300/qupv3fw.elf";
	status = "okay";
};

&qupv3_id_1 {
	firmware-name = "qcom/qcs8300/qupv3fw.elf";
	status = "okay";
};

&remoteproc_adsp {
	firmware-name = "qcom/qcs8300/adsp.mbn";

	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/qcs8300/cdsp0.mbn";

	status = "okay";
};

&remoteproc_gpdsp {
	firmware-name = "qcom/qcs8300/gpdsp0.mbn";

	status = "okay";
};

&sdc1_clk {
	bias-disable;
	drive-strength = <16>;
};

&sdc1_cmd {
	bias-pull-up;
	drive-strength = <10>;
};

&sdc1_data {
	bias-pull-up;
	drive-strength = <10>;
};

&sdc1_rclk {
	bias-pull-down;
};

&sdhc_1 {
	vmmc-supply = <&vreg_l8a>;
	vqmmc-supply = <&vreg_s2s>;

	no-sd;
	no-sdio;
	non-removable;

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc1_clk>, <&sdc1_cmd>, <&sdc1_data>;
	pinctrl-1 = <&sdc1_clk_sleep>, <&sdc1_cmd_sleep>, <&sdc1_data_sleep>;

	status = "okay";
};

&serdes0 {
	phy-supply = <&vreg_l5a>;
	status = "okay";
};

&spi3 {
	status = "okay";
};

&thermal_zones {
	cpuss-0-0-thermal {
		trips {
			cpuss0_active: cpuss-active {
				temperature = <38000>;
				hysteresis = <3000>;
				type = "active";
			};
		};

		cooling-maps {
			map-active {
				trip = <&cpuss0_active>;
				cooling-device = <&fan 4 THERMAL_NO_LIMIT>;
			};
		};
	};
};

&tlmm {
	cci1_1_default_bb_sda: cci1-1-default-bb-sda {
		pins = "gpio31";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up = <2200>;
	};

	cci1_1_default_bb_scl: cci1-1-default-bb-scl {
		pins = "gpio32";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up = <2200>;
	};

	dp_hot_plug_det: dp-hot-plug-det-state {
		pins = "gpio94";
		function = "edp0_hot";
		bias-disable;
	};

	hdmi_conv_int_pins: hdmi-conv-int-pins {
		pins = "gpio93";
		function = "gpio";
		input-enable;
		bias-pull-up;
	};

	ethernet0_default: ethernet0-default-state {
		ethernet0_mdc: ethernet0-mdc-pins {
			pins = "gpio5";
			function = "emac0_mdc";
			drive-strength = <16>;
			bias-pull-up;
		};

		ethernet0_mdio: ethernet0-mdio-pins {
			pins = "gpio6";
			function = "emac0_mdio";
			drive-strength = <16>;
			bias-pull-up;
		};
	};

	gpio_sleep_button_default: gpio_sleep_button_default {
		pins = "gpio69";
		function = "gpio";
		input-enable;
		bias-pull-down;
	};

	pcie0_default_state: pcie0-default-state {
		perst-pins {
			pins = "gpio2";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};

		clkreq-pins {
			pins = "gpio1";
			function = "pcie0_clkreq";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio0";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	pcie1_default_state: pcie1-default-state {
		perst-pins {
			pins = "gpio23";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-down;
		};

		clkreq-pins {
			pins = "gpio22";
			function = "pcie1_clkreq";
			drive-strength = <2>;
			bias-pull-up;
		};

		wake-pins {
			pins = "gpio21";
			function = "gpio";
			drive-strength = <2>;
			bias-pull-up;
		};
	};

	qup_i2c8_default: qup-i2c8-state {
		  pins = "gpio37", "gpio38";
		  function = "qup1_se0";
		  drive-strength = <16>;
		  bias-pull-up;
	};

	sensehat_joystick_int_default: sensehat-joystick-int-default-state {
		pins = "gpio105";
		function = "gpio";
		bias-disable;
		input-enable;
		drive-strength = <2>;
	};

	usb0_intr_state: usb0-intr-state {
		 pins = "gpio3";
		 drive-strength = <16>;
		 bias-pull-up;
	};

	wcn_usb_bt_n: wcn-usb-bt-n-state {
		pins = "gpio55";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
		output-high;
	};

	wlan_rfkill_pin: wlan-rfkill-pin {
		gpio-hog;
		gpios = <54 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "wlan-rfkill-pin";
	};
};

&uart7 {
	status = "okay";
};

&ufs_mem_hc {
	reset-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;
	vcc-supply = <&vreg_l8a>;
	vcc-max-microamp = <1100000>;
	vccq-supply = <&vreg_l4c>;
	vccq-max-microamp = <1200000>;
	status = "okay";
};

&ufs_mem_phy {
	vdda-phy-supply = <&vreg_l4a>;
	vdda-pll-supply = <&vreg_l5a>;
	status = "okay";
};

&usb_1 {
	reg = <0x0 0x0a600000 0x0 0x20000>;

	interrupts-extended = <&intc GIC_SPI 292 IRQ_TYPE_LEVEL_HIGH>,
		<&intc GIC_SPI 131 IRQ_TYPE_LEVEL_HIGH>,
		<&pdc 14 IRQ_TYPE_EDGE_BOTH>,
		<&pdc 15 IRQ_TYPE_EDGE_BOTH>,
		<&pdc 12 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "dwc_usb3",
		"pwr_event",
		"dp_hs_phy_irq",
		"dm_hs_phy_irq",
		"ss_phy_irq";

	iommus = <&apps_smmu 0x80 0x0>;
	snps,dis_u2_susphy_quirk;
	snps,dis_enblslpm_quirk;
	phys = <&usb_1_hsphy>, <&usb_qmpphy>;
	phy-names = "usb2-phy", "usb3-phy";
	maximum-speed = "super-speed-plus";

	usb-role-switch;
	dr_mode = "otg";

	qcom,enable-rt;
	wakeup-source;
	status = "okay";

	ports {

		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
				usb_role_switch: endpoint {
					remote-endpoint = <&ucsi_ccg_port>;
			};
		};
	};
};

&usb_1_hsphy {
	vdda-pll-supply = <&vreg_l7a>;
	vdda18-supply = <&vreg_l7c>;
	vdda33-supply = <&vreg_l9a>;

	status = "okay";
};

&usb_qmpphy {
	vdda-phy-supply = <&vreg_l7a>;
	vdda-pll-supply = <&vreg_l5a>;

	status = "okay";
};

&usb_2 {
	pinctrl-names = "default";
	pinctrl-0 = <&usb2_en_state>;

	status = "okay";
};

&usb_2_dwc3 {
	dr_mode = "host";
};

&usb_2_hsphy {
	vdda-pll-supply = <&vreg_l7a>;
	vdda18-supply = <&vreg_l7c>;
	vdda33-supply = <&vreg_l9a>;

	pinctrl-0 = <&wcn_usb_bt_n>;
	pinctrl-names = "default";

	status = "okay";
};
