// SPDX-License-Identifier: BSD-3-Clause
/*
 * qcm6490-addons device tree source
 *
 * Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
 *
 */

/{
	reserved-memory {
		audio_cma_mem: qcom,audio-ml {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
			reusable;
			alignment = <0x0 0x400000>;
			size = <0x0 0x1000000>; /* 16M */
		};

		qseecom_mem: qcom,qseecom {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
			reusable;
			alignment = <0x0 0x400000>;
			size = <0x0 0x1400000>; /* 20M */
		};

		qseecom_ta_mem: qcom,qseecom-ta {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
			reusable;
			alignment = <0x0 0x400000>;
			size = <0x0 0x1000000>; /* 16M */
		};

		dump_mem: mem-dump-region {
			compatible = "shared-dma-pool";
			alloc-ranges = <0x0 0x00000000 0x0 0xffffffff>;
			reusable;
			size = <0 0x2c00000>;
		};
	};

	/* Add overlay for firmware node containing qcom_scm in sc7280.dtsi */
	firmware {
		qtee_shmbridge {
			compatible = "qcom,tee-shared-memory-bridge";
		};

		qcom_smcinvoke {
			compatible = "qcom,smcinvoke";
		};
	};

	mem-dump {
		compatible = "qcom,mem-dump";
		memory-region = <&dump_mem>;

		c0-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x0>;
		};

		c100-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x1>;
		};

		c200-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x2>;
		};

		c300-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x3>;
		};

		c400-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x4>;
		};

		c500-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x5>;
		};

		c600-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x6>;
		};

		c700-context {
			qcom,dump-size = <0x800>;
			qcom,dump-id = <0x7>;
		};

		l1-icache0 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x60>;
		};

		l1-icache100 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x61>;
		};

		l1-icache200 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x62>;
		};

		l1-icache300 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x63>;
		};

		l1-icache400 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x64>;
		};

		l1-icache500 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x65>;
		};

		l1-icache600 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x66>;
		};

		l1-icache700 {
			qcom,dump-size = <0x22100>;
			qcom,dump-id = <0x67>;
		};

		l1-dcache0 {
			qcom,dump-size = <0x12100>;
			qcom,dump-id = <0x80>;
		};

		l1-dcache100 {
			qcom,dump-size = <0x12100>;
			qcom,dump-id = <0x81>;
		};

		l1-dcache200 {
			qcom,dump-size = <0x1a100>;
			qcom,dump-id = <0x82>;
		};

		l1-dcache300 {
			qcom,dump-size = <0x1a100>;
			qcom,dump-id = <0x83>;
		};

		l1-dcache400 {
			qcom,dump-size = <0x1a100>;
			qcom,dump-id = <0x84>;
		};

		l1-dcache500 {
			qcom,dump-size = <0x1a100>;
			qcom,dump-id = <0x85>;
		};

		l1-dcache600 {
			qcom,dump-size = <0x1a100>;
			qcom,dump-id = <0x86>;
		};

		l1-dcache700 {
			qcom,dump-size = <0x1a100>;
			qcom,dump-id = <0x87>;
		};

		l1-itlb700 {
			qcom,dump-size = <0x600>;
			qcom,dump-id = <0x27>;
		};

		l1-dtlb700 {
			qcom,dump-size = <0xa00>;
			qcom,dump-id = <0x47>;
		};

		l2-cache0 {
			qcom,dump-size = <0x90100>;
			qcom,dump-id = <0xc0>;
		};

		l2-cache100 {
			qcom,dump-size = <0x90100>;
			qcom,dump-id = <0xc1>;
		};

		l2-cache200 {
			qcom,dump-size = <0xd0100>;
			qcom,dump-id = <0xc2>;
		};

		l2-cache300 {
			qcom,dump-size = <0xd0100>;
			qcom,dump-id = <0xc3>;
		};

		l2-cache400 {
			qcom,dump-size = <0xd0100>;
			qcom,dump-id = <0xc4>;
		};

		l2-cache500 {
			qcom,dump-size = <0xd0100>;
			qcom,dump-id = <0xc5>;
		};

		l2-cache600 {
			qcom,dump-size = <0xd0100>;
			qcom,dump-id = <0xc6>;
		};

		l2-cache700 {
			qcom,dump-size = <0x340100>;
			qcom,dump-id = <0xc7>;
		};

		l2-tlb0 {
			qcom,dump-size = <0xf700>;
			qcom,dump-id = <0x120>;
		};

		l2-tlb100 {
			qcom,dump-size = <0xf700>;
			qcom,dump-id = <0x121>;
		};

		l2-tlb700 {
			qcom,dump-size = <0xa900>;
			qcom,dump-id = <0x127>;
		};

		l1dcdirty0 {
			qcom,dump-size = <0x2100>;
			qcom,dump-id = <0x170>;
		};

		l1dcdirty100 {
			qcom,dump-size = <0x2100>;
			qcom,dump-id = <0x171>;
		};

		l1dcmte0 {
			qcom,dump-size = <0x2100>;
			qcom,dump-id = <0x180>;
		};

		l1dcmte100 {
			qcom,dump-size = <0x2100>;
			qcom,dump-id = <0x181>;
		};

		l2dcmte0 {
			qcom,dump-size = <0x10100>;
			qcom,dump-id = <0x190>;
		};

		l2dcmte100 {
			qcom,dump-size = <0x10100>;
			qcom,dump-id = <0x191>;
		};

		l0mopca700 {
			qcom,dump-size = <0x4100>;
			qcom,dump-id = <0x1a7>;
		};

		l2victim700 {
			qcom,dump-size = <0x2100>;
			qcom,dump-id = <0x1e7>;
		};

		l2tldtcsp200 {
			qcom,dump-size = <0x7900>;
			qcom,dump-id = <0x202>;
		};

		l2tldtcsp300 {
			qcom,dump-size = <0x7900>;
			qcom,dump-id = <0x203>;
		};

		l2tldtcsp400 {
			qcom,dump-size = <0x7900>;
			qcom,dump-id = <0x204>;
		};

		l2tldtcsp500 {
			qcom,dump-size = <0x7900>;
			qcom,dump-id = <0x205>;
		};

		l2tldtcsp600 {
			qcom,dump-size = <0x7900>;
			qcom,dump-id = <0x206>;
		};

		l2tldtcmp200 {
			qcom,dump-size = <0x1300>;
			qcom,dump-id = <0x212>;
		};

		l2tldtcmp300 {
			qcom,dump-size = <0x1300>;
			qcom,dump-id = <0x213>;
		};

		l2tldtcmp400 {
			qcom,dump-size = <0x1300>;
			qcom,dump-id = <0x214>;
		};

		l2tldtcmp500 {
			qcom,dump-size = <0x1300>;
			qcom,dump-id = <0x215>;
		};

		l2tldtcmp600 {
			qcom,dump-size = <0x1300>;
			qcom,dump-id = <0x216>;
		};

		cpuss-reg {
			qcom,dump-size = <0x36000>;
			qcom,dump-id = <0xef>;
		};

		rpmh {
			qcom,dump-size = <0x400000>;
			qcom,dump-id = <0xec>;
		};

		rpm-sw {
			qcom,dump-size = <0x28000>;
			qcom,dump-id = <0xea>;
		};

		pmic {
			qcom,dump-size = <0x200000>;
			qcom,dump-id = <0xe4>;
		};

		fcm {
			qcom,dump-size = <0x8400>;
			qcom,dump-id = <0xee>;
		};

		etf-swao {
			qcom,dump-size = <0x10000>;
			qcom,dump-id = <0xf1>;
		};

		etr-reg {
			qcom,dump-size = <0x1000>;
			qcom,dump-id = <0x100>;
		};

		etfswao-reg {
			qcom,dump-size = <0x1000>;
			qcom,dump-id = <0x102>;
		};

		etr1-reg {
			qcom,dump-size = <0x1000>;
			qcom,dump-id = <0x105>;
		};

		misc-data {
			qcom,dump-size = <0x1000>;
			qcom,dump-id = <0xe8>;
		};

		etf-slpi {
			qcom,dump-size = <0x4000>;
			qcom,dump-id = <0xf3>;
		};

		etfslpi-reg {
			qcom,dump-size = <0x1000>;
			qcom,dump-id = <0x103>;
		};

		etf-lpass {
			qcom,dump-size = <0x4000>;
			qcom,dump-id = <0xf4>;
		};

		etflpass-reg {
			qcom,dump-size = <0x1000>;
			qcom,dump-id = <0x104>;
		};

		osm-reg {
			qcom,dump-size = <0x400>;
			qcom,dump-id = <0x163>;
		};

		pcu-reg {
			qcom,dump-size = <0x400>;
			qcom,dump-id = <0x164>;
		};

		fsm-data {
			qcom,dump-size = <0x400>;
			qcom,dump-id = <0x165>;
		};

		spr-cpu0 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f0>;
		};

		spr-cpu1 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f1>;
		};

		spr-cpu2 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f2>;
		};

		spr-cpu3 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f3>;
		};

		spr-cpu4 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f4>;
		};

		spr-cpu5 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f5>;
		};

		spr-cpu6 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f6>;
		};

		spr-cpu7 {
			qcom,dump-size = <0x2000>;
			qcom,dump-id = <0x1f7>;
		};

		scandump-smmu {
			qcom,dump-size = <0x40000>;
			qcom,dump-id = <0x220>;
		};

		scandump-gpu {
			qcom,dump-size = <0x300000>;
			qcom,dump-id = <0x221>;
		};
	};

	pmic_glink: pmic-glink {
	};

	/* add overlay for smp2p nodes in sc7280.dtsi */
	smp2p-adsp {
		smp2p_rdbg2_out: qcom,smp2p-rdbg2-out {
			qcom,entry-name = "rdbg";
			#qcom,smem-state-cells = <1>;
		};

		smp2p_rdbg2_in: qcom,smp2p-rdbg2-in {
			qcom,entry-name = "rdbg";
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};

	smp2p-cdsp {
		smp2p_rdbg5_out: qcom,smp2p-rdbg5-out {
			qcom,entry-name = "rdbg";
			#qcom,smem-state-cells = <1>;
		};

		smp2p_rdbg5_in: qcom,smp2p-rdbg5-in {
			qcom,entry-name = "rdbg";
			interrupt-controller;
			#interrupt-cells = <2>;
		};
	};
};

&soc {
	msm_stub_codec: msm-stub-codec {
		compatible = "qcom,msm-stub-codec";
		#sound-dai-cells = <1>;
	};

	/* smp2p information */
	qcom,smp2p_interrupt_rdbg_2_in {
		compatible = "qcom,smp2p-interrupt-rdbg-2-in";
		interrupts-extended = <&smp2p_rdbg2_in 0 0>;
		interrupt-names = "rdbg-smp2p-in";
	};

	qcom,smp2p_interrupt_rdbg_2_out {
		compatible = "qcom,smp2p-interrupt-rdbg-2-out";
		qcom,smem-states = <&smp2p_rdbg2_out 0>;
		qcom,smem-state-names = "rdbg-smp2p-out";
	};

	qcom,smp2p_interrupt_rdbg_5_in {
		compatible = "qcom,smp2p-interrupt-rdbg-5-in";
		interrupts-extended = <&smp2p_rdbg5_in 0 0>;
		interrupt-names = "rdbg-smp2p-in";
	};

	qcom,smp2p_interrupt_rdbg_5_out {
		compatible = "qcom,smp2p-interrupt-rdbg-5-out";
		qcom,smem-states = <&smp2p_rdbg5_out 0>;
		qcom,smem-state-names = "rdbg-smp2p-out";
	};

	sleepstate_smp2p_in: qcom,sleepstate-in {
		qcom,entry-name = "sleepstate_see";
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	sleepstate_smp2p_out: sleepstate-out {
		qcom,entry-name = "sleepstate";
		#qcom,smem-state-cells = <1>;
	};

	qcom,smp2p_sleepstate {
		compatible = "qcom,smp2p-sleepstate";
		qcom,smem-states = <&sleepstate_smp2p_out 0>;
		interrupt-parent = <&sleepstate_smp2p_in>;
		interrupts = <0 0>;
		interrupt-names = "smp2p-sleepstate-in";
	};

	spf_core_platform: spf-core-platform {
		compatible = "qcom,spf-core-platform";

		msm_audio_mem: msm-audio-mem {
			compatible = "qcom,msm-audio-mem";
			qcom,smmu-version = <2>;
			qcom,smmu-enabled;
			iommus = <&apps_smmu 0x1801 0x0>;
			qcom,iommu-dma-addr-pool = <0x10000000 0x10000000>;
			qcom,smmu-sid-mask = /bits/ 64 <0xf>;
			dma-coherent;
		};

		msm_audio_mem_cma: msm-audio-mem-cma {
			compatible = "qcom,msm-audio-mem";
			memory-region = <&audio_cma_mem>;
		};
	};

	watchdog@17c10000 {
		status = "disabled";
	};

	wdog_gh: qcom,wdt_gh {
		compatible = "qcom,gh-watchdog";
		interrupts = <0 0 IRQ_TYPE_LEVEL_HIGH>;
	};

	sram@146a5000{
		kaslr_offset@56d0 {
			compatible = "qcom,msm-imem-kaslr_offset";
			reg = <0x56d0 0xc>;
		};

		mem-dump-table@5010 {
			compatible = "qcom,msm-imem-mem-dump-table";
			reg = <0x5010 0x8>;
		};
	};

	qcom_tzlog: tz-log@146aa720 {
		compatible = "qcom,tz-log";
		reg = <0x0 0x146aa720 0x0 0x3000>;
		qcom,hyplog-enabled;
		hyplog-address-offset = <0x410>;
		hyplog-size-offset = <0x414>;
	};

	qcom,mem-buf {
		compatible = "qcom,mem-buf";
		qcom,mem-buf-capabilities = "supplier";
		qcom,vmid = <3>;
	};

	qcom,mem-buf-msgq {
		compatible = "qcom,mem-buf-msgq";
	};
};

#include "qcm6490-dma-heaps.dtsi"
