CONFIG_CMA_DEBUGFS=y
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=7
CONFIG_CORESIGHT_SOURCE_ETM4X=m
CONFIG_DMABUF_SYSFS_STATS=y
CONFIG_DYNAMIC_DEBUG=y
# CONFIG_FW_LOADER_DEBUG is not set
CONFIG_PAGE_POISONING=y
CONFIG_PID_IN_CONTEXTIDR=y
# CONFIG_TEST_DYNAMIC_DEBUG is not set
CONFIG_DEBUG_KERNEL=y
CONFIG_PAGE_OWNER=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DETECT_HUNG_TASK=y
CONFIG_DEFAULT_HUNG_TASK_TIMEOUT=120
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_CMA_DEBUG=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_SOFTLOCKUP_DETECTOR=y
CONFIG_HARDLOCKUP_DETECTOR=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_SLUB_DEBUG=y
