# CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU is not set
CONFIG_ARM_SCMI_CPUFREQ=y
# CONFIG_ARM_SMMU_QCOM_TBU is not set
# CONFIG_ARM64_MTE is not set
# CONFIG_ATH11K is not set
CONFIG_BLK_DEV_DM=y
# CONFIG_CORESIGHT is not set
CONFIG_DEFERRED_STRUCT_PAGE_INIT=y
CONFIG_DM_INIT=y
CONFIG_DM_VERITY=y
CONFIG_DMABUF_HEAPS=y
# CONFIG_DRM is not set
CONFIG_DW_EDMA=y
CONFIG_DW_EDMA_PCIE=y
# CONFIG_FPGA is not set
CONFIG_GH_VIRT_WATCHDOG=y
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_INET_AH=m
CONFIG_INET_ESP=m
CONFIG_INET_IPCOMP=m
CONFIG_IOMMU_DEFAULT_DMA_LAZY=y
# CONFIG_INPUT_PWM_BEEPER is not set
# CONFIG_INPUT_PWM_VIBRA is not set
# CONFIG_KASAN is not set
# CONFIG_KEYBOARD_ADC is not set
# CONFIG_KEYBOARD_ATKBD is not set
CONFIG_KEYBOARD_GPIO=m
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_MOUSE_PS2 is not set
CONFIG_MHI_BUS=y
# CONFIG_MHI_BUS_DEBUG is not set
CONFIG_MHI_BUS_EP=y
CONFIG_MHI_BUS_PCI_GENERIC=y
CONFIG_MHI_EP_NET=y
CONFIG_MHI_NET=y
# CONFIG_MHI_WWAN_CTRL is not set
# CONFIG_MHI_WWAN_MBIM is not set
# CONFIG_MODULE_SIG_FORCE is not set
CONFIG_MSM_RDBG=m
CONFIG_NET_KEY=m
CONFIG_NVMEM_LAYOUT_QCOM_ETH_MAC=y
CONFIG_OPEN_DICE=y
# CONFIG_NET_VENDOR_3COM is not set
# CONFIG_NET_VENDOR_ADAPTEC is not set
# CONFIG_NET_VENDOR_AGERE is not set
# CONFIG_NET_VENDOR_ALACRITECH is not set
# CONFIG_NET_VENDOR_ALTEON is not set
# CONFIG_NET_VENDOR_AMAZON is not set
# CONFIG_NET_VENDOR_AMD is not set
# CONFIG_NET_VENDOR_AQUANTIA is not set
# CONFIG_NET_VENDOR_ARC is not set
# CONFIG_NET_VENDOR_ASIX is not set
# CONFIG_NET_VENDOR_ATHEROS is not set
# CONFIG_ATL1C is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
# CONFIG_NET_VENDOR_CADENCE is not set
# CONFIG_NET_VENDOR_CAVIUM is not set
# CONFIG_NET_VENDOR_CHELSIO is not set
# CONFIG_NET_VENDOR_CISCO is not set
# CONFIG_NET_VENDOR_CORTINA is not set
# CONFIG_NET_VENDOR_DAVICOM is not set
# CONFIG_NET_VENDOR_DEC is not set
# CONFIG_NET_VENDOR_DLINK is not set
# CONFIG_NET_VENDOR_EMULEX is not set
# CONFIG_NET_VENDOR_ENGLEDER is not set
# CONFIG_NET_VENDOR_EZCHIP is not set
# CONFIG_NET_VENDOR_FUNGIBLE is not set
# CONFIG_NET_VENDOR_GOOGLE is not set
# CONFIG_NET_VENDOR_HISILICON is not set
# CONFIG_NET_VENDOR_HUAWEI is not set
# CONFIG_NET_VENDOR_I825XX is not set
# CONFIG_NET_VENDOR_INTEL is not set
# CONFIG_NET_VENDOR_ADI is not set
# CONFIG_NET_VENDOR_LITEX is not set
# CONFIG_NET_VENDOR_MARVELL is not set
# CONFIG_NET_VENDOR_MELLANOX is not set
# CONFIG_NET_VENDOR_MICREL is not set
# CONFIG_NET_VENDOR_MICROCHIP is not set
# CONFIG_NET_VENDOR_MICROSEMI is not set
# CONFIG_NET_VENDOR_MICROSOFT is not set
# CONFIG_NET_VENDOR_MYRI is not set
# CONFIG_NET_VENDOR_NI is not set
# CONFIG_NET_VENDOR_NATSEMI is not set
# CONFIG_NET_VENDOR_NETERION is not set
# CONFIG_NET_VENDOR_NETRONOME is not set
# CONFIG_NET_VENDOR_8390 is not set
# CONFIG_NET_VENDOR_NVIDIA is not set
# CONFIG_NET_VENDOR_OKI is not set
# CONFIG_NET_VENDOR_PACKET_ENGINES is not set
# CONFIG_NET_VENDOR_PENSANDO is not set
# CONFIG_NET_VENDOR_QLOGIC is not set
# CONFIG_NET_VENDOR_BROCADE is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_RDC is not set
# CONFIG_NET_VENDOR_REALTEK is not set
# CONFIG_NET_VENDOR_RENESAS is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SAMSUNG is not set
# CONFIG_NET_VENDOR_SEEQ is not set
# CONFIG_NET_VENDOR_SILAN is not set
# CONFIG_NET_VENDOR_SIS is not set
# CONFIG_NET_VENDOR_SOLARFLARE is not set
# CONFIG_NET_VENDOR_SMSC is not set
# CONFIG_NET_VENDOR_SOCIONEXT is not set
# CONFIG_NET_VENDOR_SUN is not set
# CONFIG_NET_VENDOR_SYNOPSYS is not set
# CONFIG_NET_VENDOR_TEHUTI is not set
# CONFIG_NET_VENDOR_TI is not set
# CONFIG_NET_VENDOR_VERTEXCOM is not set
# CONFIG_NET_VENDOR_VIA is not set
# CONFIG_NET_VENDOR_WANGXUN is not set
# CONFIG_NET_VENDOR_WIZNET is not set
# CONFIG_NET_VENDOR_XILINX is not set
# CONFIG_REALTEK_PHY is not set
CONFIG_NO_HZ_FULL=y
CONFIG_PANIC_TIMEOUT=0
CONFIG_PHY_QCOM_QMP=m
CONFIG_PHY_QCOM_QMP_COMBO=m
CONFIG_PHY_QCOM_QMP_PCIE=m
CONFIG_PHY_QCOM_QMP_UFS=m
CONFIG_PHY_QCOM_SNPS_EUSB2=m
CONFIG_PHYLIB=y
CONFIG_PINCTRL_SA8797P=y
CONFIG_PINCTRL_SCMI=m
CONFIG_PINCTRL_SECA=y
CONFIG_PTP_QCOM_CLOCK_TSC=y
CONFIG_QCOM_DCC=m
CONFIG_QCOM_DMABUF_HEAPS=y
CONFIG_QCOM_DMABUF_HEAPS_CARVEOUT=y
CONFIG_QCOM_DMABUF_HEAPS_CARVEOUT_DEFER_ZERO=y
CONFIG_QCOM_DMABUF_HEAPS_CMA=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM_SECURE=y
CONFIG_QCOM_MEM_BUF=y
CONFIG_QCOM_MEM_BUF_DEV=y
# CONFIG_QCOM_PANEL_EVENT_NOTIFIER is not set
CONFIG_PCI_EPF_MHI=y
CONFIG_PCIE_QCOM_EP=m
CONFIG_PCIEASPM_POWER_SUPERSAVE=y
CONFIG_QCOM_CPUCP_MBOX=y
CONFIG_QCOM_SCM_ADDON=y
CONFIG_QCOM_SECURE_BUFFER=y
CONFIG_QCOM_SI_CORE=m
CONFIG_QCOM_SI_CORE_MEM_OBJECT=m
CONFIG_QCOM_SI_CORE_WQ=y
CONFIG_QCOM_SI_CORE_XTS=m
CONFIG_QCOM_SMP2P_SLEEPSTATE=y
# CONFIG_QCOM_SOC_DEBUG is not set
CONFIG_QCOM_WDT_CORE=y
CONFIG_QRTR=y
CONFIG_QRTR_SMD=y
CONFIG_QRTR_MHI=m
CONFIG_QTI_BCL_PMIC5=y
CONFIG_QTI_DEVFREQ_CDEV=m
CONFIG_QTI_TZ_LOG=m
CONFIG_REGULATOR_DEBUG_CONTROL=y
CONFIG_REGULATOR_PROXY_CONSUMER=y
# CONFIG_SERIAL_8250 is not set
# CONFIG_SERIAL_MSM is not set
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SERIAL_QCOM_GENI_CONSOLE=y
CONFIG_SND_SOC_MSM_STUB=y
CONFIG_SPI_SLAVE=y
CONFIG_TMPFS=y
CONFIG_USB_DWC3_QCOM=m
# CONFIG_USB_F_QDSS is not set
CONFIG_VIRT_DRIVERS=y
CONFIG_XFRM=y
CONFIG_XFRM_USER=y
# CONFIG_WLAN_VENDOR_ADMTEK is not set
# CONFIG_WLAN_VENDOR_ATH is not set
# CONFIG_WLAN_VENDOR_ATMEL is not set
# CONFIG_WLAN_VENDOR_BROADCOM is not set
# CONFIG_WLAN_VENDOR_CISCO is not set
# CONFIG_WLAN_VENDOR_INTEL is not set
# CONFIG_WLAN_VENDOR_MARVELL is not set
# CONFIG_WLAN_VENDOR_MEDIATEK is not set
# CONFIG_WLAN_VENDOR_MICROCHIP is not set
# CONFIG_WLAN_VENDOR_PURELIFI is not set
# CONFIG_WLAN_VENDOR_RALINK is not set
# CONFIG_WLAN_VENDOR_REALTEK is not set
# CONFIG_WLAN_VENDOR_RSI is not set
# CONFIG_WLAN_VENDOR_SILABS is not set
# CONFIG_WLAN_VENDOR_ST is not set
# CONFIG_WLAN_VENDOR_TI is not set
# CONFIG_WLAN_VENDOR_ZYDAS is not set
# CONFIG_WLAN_VENDOR_QUANTENNA is not set
