# CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU is not set
# CONFIG_ARM_SCMI_CPUFREQ is not set
# CONFIG_ATH11K is not set
CONFIG_BACKLIGHT_QCOM_WLED=y
# CONFIG_CORESIGHT is not set
CONFIG_GH_VIRT_WATCHDOG=y
CONFIG_MFD_I2C_PMIC=y
# CONFIG_MODULE_SIG_FORCE is not set
CONFIG_MSM_RDBG=m
CONFIG_PINCTRL_SA8775P_LPASS_LPI=m
CONFIG_QCOM_DCC=m
CONFIG_QCOM_DMABUF_HEAPS=y
CONFIG_QCOM_DMABUF_HEAPS_CMA=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM=y
CONFIG_QCOM_DMABUF_HEAPS_SYSTEM_SECURE=y
CONFIG_QCOM_MEM_BUF=y
CONFIG_QCOM_MEM_BUF_DEV=y
# CONFIG_QCOM_PANEL_EVENT_NOTIFIER is not set
CONFIG_QCOM_PMIC_PDCHARGER_ULOG=y
CONFIG_QCOM_QMI_COOLING=m
CONFIG_QCOM_QPS615_PCIE_SWITCH=y
CONFIG_QCOM_SCM_ADDON=y
CONFIG_QCOM_SECURE_BUFFER=y
CONFIG_QCOM_SMCINVOKE=m
CONFIG_QCOM_SMP2P_SLEEPSTATE=y
CONFIG_QCOM_SPMI_ADC5_GEN3=m
CONFIG_QCOM_SPMI_MBG_TM=m
CONFIG_QCOM_WDT=y
CONFIG_QCOM_WDT_CORE=y
CONFIG_QTEE_SHM_BRIDGE=y
CONFIG_QTI_BCL_PMIC5=y
CONFIG_QTI_DEVFREQ_CDEV=m
CONFIG_QTI_TZ_LOG=m
CONFIG_REGULATOR_DEBUG_CONTROL=y
CONFIG_REGULATOR_PROXY_CONSUMER=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_REGULATOR_QPNP_LCDB=y
CONFIG_SND_SOC_MSM_STUB=y
CONFIG_STM_PROTO_OST=m
# CONFIG_USB_F_QDSS is not set
CONFIG_VIRT_DRIVERS=y
