CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_GH_VIRT_WATCHDOG=y
CONFIG_GUNYAH_DRIVERS=y
CONFIG_MFD_I2C_PMIC=y
CONFIG_PANIC_TIMEOUT=-1
CONFIG_QCOM_FORCE_WDOG_BITE_ON_PANIC=y
CONFIG_QCOM_SCM_ADDON=y
CONFIG_QCOM_WDT_CORE=y
CONFIG_REGULATOR_DEBUG_CONTROL=y
CONFIG_REGULATOR_PROXY_CONSUMER=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_REGULATOR_QPNP_LCDB=y
CONFIG_STM_PROTO_OST=m
CONFIG_VIRT_DRIVERS=y
