# SPDX-License-Identifier: GPL-2.0-only

config QCOM_QMI_COOLING
	tristate "Qualcomm QMI cooling drivers"
	depends on QCOM_RPROC_COMMON
	depends on ARCH_QCOM || COMPILE_TEST
	select QCOM_QMI_HELPERS
	help
	   This enables the remote subsystem cooling devices. These cooling
	   devices will be used by Qualcomm chipset to place various remote
	   subsystem mitigations like remote processor passive mitigation,
	   remote subsystem voltage restriction at low temperatures etc.
	   The QMI cooling device will interface with remote subsystem
	   using Qualcomm remoteproc interface.
